body{
	margin:0;
	padding:0;
}
.main-container{
	display:grid;
	grid-template-columns:auto auto;
	grid-template-rows:auto auto auto auto auto;
}
.navbar{
	grid-column:1/4;
	grid-row:1/2;
	background-color: rgb(110,110,109);
	overflow: hidden;
}
.navbar a{
	float: right;
	color: #fff;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
}
.navbar a:hover{
	background-color: #fff
	color:rgb(162,162,161);
	font-weight: bold;
}
.banner{
	grid-column:1/4;
	grid-row:2/3;
	background-color: rgb(102, 153, 204);
	padding:210px;
	color: rgb(250,208,201);
	font-weight: bolder;
	text-shadow: rgb(162,162,161);
}
.banner h1{
	text-align: center;
}
.topicrow1{
	grid-template-columns: auto auto;
	grid-column:1/4;
	grid-row: :3/4;
	display:grid;
	background-color: rgb(250,208,201);
}
.maintopic1{
}
.sidetopic1{
}
.topicrow2{
	grid-template-columns: auto auto;
	grid-column:1/4;
	grid-row:4/5;
	display:grid;
	background-color: rgb(110,110,109);
}
.sidetopic2{
}
.maintopic2{
}
.footer{
	grid-column:1/4;
	grid-row:5/6;
	background color:rgb(110,110,109);
	padding: 50px;
	color: rgb(110,110,109);
}